{% extends 'base.html' %}
{% block css_block %}<link href="../static/css/jquery-ui.css" rel="stylesheet">{% endblock %}
{% block deal_new_block %}<li class="active">{% endblock %}
{% block head_block %}Deal New{% endblock %}

{% block body_block %}

<form class="form-horizontal" role="form" action="" method="post">

  {% csrf_token %}

  <div class="form-group">
      <label for="phone" class="col-sm-2 control-label">电话</label>
      <div class="col-sm-3">
         <input id="search" type="text" class="form-control" name="phone" placeholder="必须填写手机号，如 13912345678" autocomplete="off">
      </div>
   </div>

   <div class="form-group">
      <label for="money" class="col-sm-2 control-label">消费金额</label>
      <div class="col-sm-3">
         <input type="text" class="form-control" name="money" placeholder="1000">
      </div>
   </div>

   <div class="form-group">
      <label for="sort" class="col-sm-2 control-label">类型</label>
      <div class="col-sm-3">
         <select class="selectpicker" name="sort">
             <option value="hy">会员</option>
             <option value="cz">临时充值</option>
             <option value="xf">消费</option>                 
         </select>
      </div>
   </div>


   <div class="form-group">
      <label for="remark" class="col-sm-2 control-label">备注</label>
      <div class="col-sm-3">
         <input type="text" class="form-control" name="remark" placeholder="备注">
      </div>
   </div>

   <hr class="hr" />

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <input id="waiting" type="submit" class="btn btn-default" value="提交" data-loading-text="提交中......">
    </div>
  </div>

</form>



{% endblock %}



{% block script_block %}

<script src="../static/js/jquery-ui.min.js"></script>
  <script>
    $(function() {
        $("#search").keyup(function(){
            var searchvalue = $("#search").val();
            $("#search").autocomplete({
                source: '/ajax_get_phone_list/?search=' + searchvalue ,
                minLength: 2
            });
        });
    });

  </script>

{% endblock %}
