{% extends 'base.html' %}
{% block book_query_block %}<li class="active">{% endblock %}
{% block head_block %}Book Query{% endblock %}

{% block body_block %}

<form action="" method="get">

  <div class="form-group">
      <div class="col-sm-3">
         <input type="text" class="form-control" name="bookname" placeholder="请输入要搜索的书名">
      </div>
   </div>


  <div class="btn-group">
    <input type="submit" class="btn btn-default" name="querydata" value="搜索"></input>
  </div>


<hr class="hr" />

<div class="table-responsive">
  <table class="table table-condensed table-striped table-hover">
    
    <thead>
    <tr>
      <th>序号</th>
      <th>SN</th>
      <th>书名</th>
      <th>套装名称</th>
      <th>系列名称</th>
      <th>出版社</th>
      <th>大小</th>
      <th>版次</th>
      <th>定价</th>
      <th>著</th>
      <th>绘</th>
      <th>翻译</th>
      <th>套装</th>
      <th>装订</th>
      <th>类别</th>
      <th>拼音</th>
      <th>每套几本</th>
      <th>状态</th>
      <th>纸张</th>
      <th>存放位置</th>
      <th>语言</th>
      <th>购买价格</th>
      <th>链接</th>
      <th>ISBN</th>
      <th>备注1</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      {% for bookinfor in bookinfor %}
      <tr class="info">
        <td>{{ forloop.counter }}</td>
        <td>{{ bookinfor.sn }}</td>
        <td>{{ bookinfor.book_name }}</td>
        <td>{{ bookinfor.book_set_name }}</td>
        <td>{{ bookinfor.series_name }}</td>
        <td>{{ bookinfor.publisher }}</td>
        <td>{{ bookinfor.size }}</td>
        <td>{{ bookinfor.edition }}</td>
        <td>{{ bookinfor.price }}</td>
        <td>{{ bookinfor.author_text}}</td>
        <td>{{ bookinfor.author_picture }}</td>
        <td>{{ bookinfor.translation }}</td>
        <td>{{ bookinfor.get_setset_display }}</td>
        <td>{{ bookinfor.get_hardcover_display }}</td>
        <td>{{ bookinfor.sortname }}</td>
        <td>{{ bookinfor.pinyin }}</td>
        <td>{{ bookinfor.per_amount }}</td>
        <td>{{ bookinfor.book_status }}</td>
        <td>{{ bookinfor.book_paper }}</td>
        <td>{{ bookinfor.position }}</td>
        <td>{{ bookinfor.language }}</td>
        <td>{{ bookinfor.true_price }}</td>
        <td>{{ bookinfor.book_link }}</td>
        <td>{{ bookinfor.isbn }}</td>
        <td>{{ bookinfor.remark1 }}</td>


      </tr>
      {% endfor %}
    </tr>
    </tbody>

  </table>
</div>

{% endblock %}
