{% extends 'base.html' %}
{% block css_block %}<link href="../static/css/jquery-ui.css" rel="stylesheet">{% endblock %}
{% block member_query_block %}<li class="active">{% endblock %}
{% block head_block %}Member Query{% endblock %}

{% block body_block %}

<form action="" method="get">

  <div class="form-group">
      <div class="col-sm-3">
         <input id="search" type="text" class="form-control" name="phone" placeholder="必须填写手机号，如 13912345678" autocomplete="off">
      </div>
   </div>


  <div class="btn-group">
    <input type="submit" class="btn btn-default" name="querydata" value="搜索"></input>
  </div>


<hr class="hr" />


<div class="table-responsive">
  <table class="table table-condensed table-striped table-hover">

    <thead>
    <tr>
      <th>序号</th>
      <th>电话</th>
      <th>姓名</th>
      <th>社交帐号</th>
      <th>邮箱</th>
      <th>注册时间</th>
      <th>到期时间</th>
      <th>押金</th>
      <th>余额</th>
      <th>创建人</th>
      <th>备注</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      {% for member in member %}
      <tr class="info">
        <td>{{ forloop.counter }}</td>
        <td>{{ member.phone }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.account }}</td>
        <td>{{ member.mail }}</td>
        <td>{{ member.begin }}</td>
        <td>{{ member.expir }}</td>
        <td>{{ member.deposit }}</td>
        <td>{{ member.remain }}</td>
        <td>{{ member.handler }}</td>
        <td>{{ member.remark }}</td>
      </tr>
      {% endfor %}
    </tr>
    </tbody>

  </table>
</div>

{% endblock %}



{% block script_block %}

<script src="../static/js/jquery-ui.min.js"></script>
  <script>

    $(function() {
        $("#search").keyup(function(){
            var searchvalue = $("#search").val();
            $("#search").autocomplete({
                source: '/ajax_get_phone_list/?search=' + searchvalue ,
                minLength: 2
            });
        });
    });


  </script>

{% endblock %}
