{% extends 'base.html' %}
{% block member_new_block %}<li class="active">{% endblock %}
{% block head_block %}Member Modify{% endblock %}

{% block body_block %}

{% for member in member %}

<form class="form-horizontal" role="form" action="" method="get">

  <div class="form-group">
      <label for="phone" class="col-sm-2 control-label">电话</label>
      <div class="col-sm-3">
         <input type="text" class="form-control" name="phone" value="{{ member.phone }}" placeholder="必须填写手机号，如 13912345678" readonly="readonly">
      </div>
   </div>

   <div class="form-group">
      <label for="membername" class="col-sm-2 control-label">姓名</label>
      <div class="col-sm-3">
         <input type="text" class="form-control" name="membername" value="{{ member.name }}" placeholder="张三">
      </div>
   </div>

   <div class="form-group">
      <label for="account" class="col-sm-2 control-label">社交帐号</label>
      <div class="col-sm-3">
         <input type="text" class="form-control" name="account" value="{{ member.account }}" placeholder="wx_123456">
      </div>
   </div>

   <div class="form-group">
      <label for="mail" class="col-sm-2 control-label">邮箱</label>
      <div class="col-sm-3">
         <input type="text" class="form-control" name="mail" value="{{ member.mail }}" placeholder="tushu@163.com">
      </div>
   </div>

  <div class="form-group">
      <label for="expir" class="col-sm-2 control-label">到期时间</label>
      <div class="col-sm-3">
         <input type="date" name="expir" value="{{ member.expir |date:'Y-m-d' }}"/>
      </div>
   </div>

   <div class="form-group">
      <label for="card" class="col-sm-2 control-label">会员卡号</label>
      <div class="col-sm-3">
         <input type="text" class="form-control" name="card" value="{{ member.card }}" placeholder="0001">
      </div>
   </div>

   <div class="form-group">
      <label for="remark" class="col-sm-2 control-label">备注</label>
      <div class="col-sm-3">
         <input type="text" class="form-control" name="remark" value="{{ member.remark }}" placeholder="备注">
      </div>
   </div>

   <hr class="hr" />

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <input id="waiting" type="submit" class="btn btn-default" value="更新" data-loading-text="更新中......" name="gx">
      <input id="yc" type="submit" class="btn btn-default" value="yinchang" style="VISIBILITY: hidden" name="cx">
    </div>
  </div>

</form>

{% endfor %}




{% endblock %}
